/* FUNDO DO SITE */
.fundo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.fundo-gif {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* cobre toda a tela */
}

/* TEXTOS */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    border-radius: 20px;
    width: 250px;
    text-align: center;
    color: rgb(20, 94, 94);
}

h2 {
    margin: 5px;
    padding: 10px;
    font-size: 30px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color: aliceblue;
    border-style: groove #c20000;
    border-radius: 5px;
}

p { 
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    background-color: #c20000;
    color: aliceblue;
    border-style: dotted;
}

/* CORPO DO SITE */
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
}

.contador {
    background-color: aliceblue;
    font-style: italic;
    font-weight: bold;
    margin-top: 10px;
}

/* BOTÕES */
.botões {
    display: flex;
    gap: 20px;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 10px;
    z-index: 10;
}

.botões .sim {
    border-radius: 20px;
    width: 150px;
    height: 65px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    border-style: inherit;
    box-shadow: 2px 2px 10px #f3f3f3, inset 1px 1px 5px;
    background: linear-gradient(to bottom, #4ab147, #6bff6b);
    cursor: pointer;
}

.sim:hover {
    transform: scale(1.1);
    transition: all 0.2s ease;
}

.sim:active {
    transform: scale(0.95);
}

/* Botão "Não" centralizado e "dançante" */
.botões .nao {
    position: fixed; /* fixo na tela */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    width: 150px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    border-style: inherit;
    box-shadow: 2px 2px 10px #f3f3f3, inset 1px 1px 5px;
    background: linear-gradient(to bottom, #ff2727, #9c2222);
    transition: all 0.2s ease;
    cursor: pointer;
    z-index: 20;
}

/* RESPONSIVO */
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
    .fundo-gif {
        object-fit: cover;
    }
}
